*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/compiler.xml
.idea/.name
.idea/copyright/profiles_settings.xml
.idea/compiler.xml
app/release/release/app.aab
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.properties
